<div class= "row">
<div class="row search-div">
    <div class="col s8 offset-s4">
      <h3>{{title}}</h3>
    </div>
   <div class="col s4 offset-s4 search-input">
      <input type="text" placeholder="Search Clients" ng-model="searchText">
   </div>
     <div class="col s4 offset-s4">
    <a ng-href="#/client/add" class="btn z-depth-3">{{submitButtonText}}</a>
  </div>
</div>
        <div class="row">
            <div ng-repeat="client in clients | filter: searchText">
              <div class="col s4">
                <a ng-href="#/client/{{client.id}}">
                  <h5>{{client.name}}</h5>
                  <h7>Email: {{client.email}}</h7><br>
                  <h7>Phone: {{client.phone}}</h7><br>
                  <h7>Address: {{client.address}}</h7>
                </a>
                  <div class="col s4 offset-s2">
                      <button class="btn z-depth-2" ng-click="clientDelete(client)">Remove</button>
                  </div>
        </div>
      </div>
    </div>
 </div>
