<div class="row login">
  <div class="col s4 offset-s4">
    <h1>Pitstop</h1>
    <button ng-click="addNewClient()" class="waves-effect waves-light btn">Add New</button>
  </div>
  <div>

<div class="row search-div">
   <div class="col s4 offset-s4 search-input">
      <input type="text" placeholder="Search Clients" ng-model="searchText">
   </div>
</div>

<h3>Clients</h3>

    <div ng-repeat="thingy in clients | filter: searchText">
        <div class="row">
            <div class="col s12 m6 l3">{{thingy.name}}</div>
            <div class="col s12 m6 l3">{{thingy.email}}</div>
            <div class="col s12 m6 l3">{{thingy.phone}}</div>
            <div class="col s12 m6 l3">{{thingy.address}}</div>
        </div>
    </div>

    
 </div>