<div class="navbar-fixed" ng-controller="LoginCtrl">
  <nav>
    <div class="nav-wrapper red darken-1">
      <a href="" class="brand-logo">Pitstop</a>
      <ul class="right hide-on-med-and-down">
        <li ng-show="addClientShow"><a href="/#/add-client">Add a Client</a></li>
        <li ng-show="findClientShow"><a href="/#/client-list">Find Clients</a></li>
        <li ng-show="detailListShow"><a href="/#/detail-list">View Client Details</a></li>
        <li ng-show="newJobShow"><a href="/#/intake">Add New Job</a></li>
        <li ng-show="logoutShow"><a href="/#/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>