  <nav>
    <div class="nav-wrapper">
      <img class="nav-img" src="img/main-logo.png">
      <a href="#" class="button-collapse nav-hamburger nav-link" data-activates="mobile-demo" data-menuwidth="325" data-closeonclick="true">
    <i class="fa fa-bars" aria-hidden="true"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/#/client/add">Add a Client</a></li>
        <li><a href="/#/client/list">View Clients</a></li>
        <li><a href="/#/intake">Add New Job</a></li>
        <li><a href="/#/logout">Logout</a></li>
      </ul>
    </div>
  </nav>