
body {
  background-color: lightgrey;
}

.dropdown-content{
 li span{
  color: #1565c0;}
}

/* calander */
.picker__weekday-display {
  background-color: #0d47a1;
}

.picker__month-display {
  background-color: #1565c0;
}
.picker__day-display {
  background-color: #1565c0;

}
.picker__year-display {
  background-color: #1565c0;
}

.picker__date-display {
  background-color: #1565c0;
}

.picker__close, .picker__today {
  color: #64b5f6;
}

.picker__day--highlighted, .picker__day--selected, .picker__day--selected:hover, .picker--focused {
  background-color: #64b5f6;
}

.picker__day.picker__day--today {
  color: #64b5f6;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
   background-color: #64b5f6;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
  background: #bbdefb;
}
