
<form class="col s4 offset-s4 blue lighten-5">
    <h4 class="blue-text text-darken-3">{{title}}</h4>
    <div class="form-group">
        <label class="blue-text text-darken-3">Name</label>
        <input type="text" class="form-control" placeholder="Client's name" ng-model="newClients.name">
    </div>
    <div class="form-group">
        <label class="blue-text text-darken-3">Email</label>
        <input type="text" class="form-control" placeholder="example@gmail.com" ng-model="newClients.email">
    </div>
    <div class="form-group">
        <label class="blue-text text-darken-3">Phone</label>
        <input type="text" class="form-control" placeholder="xxx-xxx-xxxx" ng-model="newClients.phone">
    </div>
    <div class="form-group">
        <label class="blue-text text-darken-3">Address</label>
        <input type="text" class="form-control" placeholder="Street/City/State/Zip" ng-model="newClients.address">
    </div>
    <div class="text-center">
        <button class="btn blue darken-3" ng-click="addNewClients()">{{submitButtonText}}</button>
    </div>
</form>
