   <div class="row">
      <div class="col s4 offset-s4">
         <h3 class="blue-text text-darken-3">{{title}}</h3>
      </div>
   </div>
   <div class="row">
      <div class="col s4 offset-s4 blue lighten-5 z-depth-3 blue-text text-darken-3">
          <h4>{{selectedClient.name}}</h4>
          <h6>{{selectedClient.email}}</h6>
          <h6>{{selectedClient.phone}}</h6>
          <h6>{{selectedClient.address}}</h6>
       <div class="col s4 offset-s4">
          <a class="btn z-depth-3 blue darken-3" ng-href="#/client/edit/{{selectedClient.id}}">Edit</a>
       </div>
      </div>
   </div>
      <div ng-include="'./partials/repairsView.html'"></div>
</div>
