<div>
<div class="row login blue lighten-5 z-depth-2">
  <div class="col s4 offset-s4 title">
    <h3 class="blue-text text-darken-3">Employee Login</h3>
  </div>
  <div>
    <div class="col s4 offset-s4 login-input">
      <label class="blue-text text-darken-3">Email</label>
      <input type="text" ng-model="account.email">
    </div>
  </div>
  <div>
    <div class="col s4 offset-s4 login-input">
      <label class="blue-text text-darken-3">Password</label>
      <input type="password" ng-model="account.password">
    </div>
  </div>
  <div class="col s4 offset-s4">
    <a ng-click="login()" class="btn z-depth-1 blue darken-3">Login</a>
    <a ng-click="register()" class="btn z-depth-1 blue darken-3">Register</a>
  </div>
</div>
</div>
